<!-- PAGE HEADER STARTS -->
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <strong>GOVERNMENT PORTAL</strong>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- PAGE HEADER ENDS -->

  <!-- PAGE CONTENT STARTS -->


  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE SEARCH AND LINKED CONTENT -->
  <!-- PAGE LINKS AND INFORMATION -->
  <ion-content>
    <ion-list style="margin-left: 5%;">
      <h1 style="font-size: xx-large;"><strong>Sign in using Government Portal</strong></h1>
      <br>
      <h5>Goverment Portal user ID</h5>
      <form class="form" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
        <ion-item>
          <ion-input required="true" type="text" maxlength=12 placeholder="Insert your 12 character ID"
            formControlName="userID" type="text" required style="text-transform: uppercase;"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.userID">
            <div class="error-message"
              *ngIf="validations_form.get('userID').hasError(validation.type) && (validations_form.get('userID').dirty || validations_form.get('userID').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <h5>Password</h5>
        <ion-item>
          <ion-input required="true" inputmode="text" type="password" clear-on-edit=true
            placeholder="INSERT YOUR PORTAL PASSWORD" formControlName="password" type="password" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div class="error-message"
              *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <br>
          <ion-button type="submit" color="signin" [disabled]="!validations_form.valid">Sign in<ion-icon
              name="log-in-outline"></ion-icon>
          </ion-button>
          <label class="error-message">{{errorMessage}}</label>
        </div>
        <br>
      </form>
      <ion-router-link href="#" class="underline">Register sign in information</ion-router-link>
    </ion-list>
    <br>
    <ion-grid style="margin-left: 5%;">
      <h2 style="font-size: x-large;"><strong>Problems signing in</strong></h2>
      <ion-row>
        <ion-router-link href="#" class="underline">I have forgotten my password</ion-router-link>
      </ion-row>
      <ion-row>
        <ion-router-link href="#" class="underline">I have forgotten my user ID</ion-router-link>
      </ion-row>
      <ion-row>
        <ion-router-link href="#" class="underline">I have forgotten my Government Portal user ID and password
        </ion-router-link>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->

  <!-- PAGE FOOTER STARTS -->
</ion-content>
<ion-footer class="ion-no-border" align="center">
  <ion-toolbar color="light">
    <ion-text>
      Government Portal<br>
      Ministry of Home Affairs
    </ion-text>
  </ion-toolbar>
</ion-footer>
<!-- PAGE FOOTER ENDS -->