<!-- PAGE HEADER STARTS -->

<ion-content [fullscreen]="true">
  <!-- #3082c9 Royal Blue | #c92d39 Government Red -->
  <div style="background-color:#3082c9;color: white;">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>
          <ion-router-link href="home" color="light">
            <strong>GOVERNMENT PORTAL</strong>
          </ion-router-link>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- PAGE HEADER ENDS -->

    <!-- PAGE CONTENT STARTS -->

    <!-- PAGE SEARCH AND LINKED CONTENT -->
    <h1 style="margin-left: 2%;"><strong>WELCOME TO GOVERNMENT PORTAL</strong></h1>
    <h5 style="margin-left: 2%;">All government services at one place.</h5>
    <ion-searchbar style="width: 40%;" animated="true" [(ngModel)]="searchQuery" (click)="click_in()"
      (clickOutside)="onClickedOutside($event)" (ionInput)="search($event)" placeholder="Search..."></ion-searchbar>
    <ion-list *ngIf="pagesList" style="position: absolute;z-index:1000;width: 40%;">
      <ion-item *ngFor="let algoliaResult of algoliaResults | slice:0:3;; let i = index">
        <ion-router-link href={{algoliaResult.url}} class="underline-search">{{ algoliaResult.name }}
        </ion-router-link>
      </ion-item>
    </ion-list>
  </div>
  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE LINKS AND INFORMATION -->
  <div style="margin: 2%;">
    <ion-content>
      <h1>Banking</h1>
    </ion-content>
    <h3>Background of Ministry of Finance</h3>
    <p>Responsibilities in relation to macro-economic policies, annual budget and Appropriation Acts, public financial
      management, local and foreign savings and investments, public debts, banking, finance and insurance activities,
      international financial cooperation and directing social security and economic development activities.
    </p>
    <h4>Functions</h4>
    <ol>
      <li>Establishing a sustained, high economic growth rate that distributes benefits to all, covers all provinces,
        and minimizes income disparities.</li>
      <li>Reducing unemployment giving priority to low income earners and increasing per capita income.</li>
      <li>Ensuring price stability by maintaining annual average inflation rate at a low level.</li>
      <li>Reducing uncertainties in public revenue policies by reducing budget deficit and public debt.</li>
      <li>Expanding financial resources and economic needs by maintaining loan interest rate at a lower level.</li>
      <li>Stabilizing the interest rates, financial and balance of payment policies in order to ensure that the exchange
        value of the rupee is maintained at a stable level.</li>
      <li>Introducing measures to promote domestic production, empower low-income earners and incentivize investments.
      </li>
      <li>Expanding the business environment for the domestic business community in a manner that would provide benefits
        to general public.</li>
      <li>Strengthening public enterprises.</li>
      <li>Strengthening the institutional structure required for the efficient management of state revenue and
        expenditure.</li>
    </ol>
    
    <ion-router-link href="page-under-construction" class="underline">
      Apply for your financial services through Government Portal
    </ion-router-link>
  </div>
  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->

  <!-- PAGE FOOTER STARTS -->
  <ion-footer class="ion-no-border" align="center">
    <ion-toolbar color="light">
      <ion-text>
        Government Portal<br>
        Ministry of Home Affairs
      </ion-text>
    </ion-toolbar>
  </ion-footer>
  <!-- PAGE FOOTER ENDS -->
</ion-content>