<!-- PAGE HEADER STARTS -->
<ion-header>
  <ion-toolbar color="light">
    <ion-title>
      <strong>GOVERNMENT PORTAL</strong>
    </ion-title>
    <ion-button class="log-out" slot="icon-only" slot="end" color="light" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
  </ion-button>
  </ion-toolbar>
</ion-header>

<!-- PAGE HEADER ENDS -->
<ion-content [fullscreen]="true">
  <!-- PAGE CONTENT STARTS -->


  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE SEARCH AND LINKED CONTENT -->
  <!-- PAGE LINKS AND INFORMATION -->
  <ion-header>
    <ion-toolbar>
      <!-- PAGE TAB BAR STARTS -->
      <ion-tabs>
        <ion-tab-bar slot="start " slot="top" color="light">
          <ion-tab-button tab="services">
            <ion-icon name="layers"></ion-icon>
            <ion-label>Online Services</ion-label>
          </ion-tab-button>
          <ion-tab-button >
            <ion-icon name="person"></ion-icon>
            <ion-label>Contact</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="settings">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
      <!-- PAGE TAB BAR ENDS -->
    </ion-toolbar>
  </ion-header>

  <!-- PAGE LINKS AND INFORMATION -->

  <ion-content>
    <ion-grid style="margin-left: 5%;">
      <h2 style="font-size: x-large;"><strong>Available Services</strong></h2>
      <ion-row>
        <ion-router-link href="#" class="underline">Apply for First Timer NIC Applicant</ion-router-link>
      </ion-row>
      <ion-row>
        <ion-router-link href="#" class="underline">Apply for Renewals of NIC Application</ion-router-link>
      </ion-row>
      <ion-row>
        <ion-router-link href="#" class="underline">Apply for Corrections of NIC Application</ion-router-link>
      </ion-row>
      <ion-row>
        <ion-router-link href="#" class="underline">Apply for Lost of NIC Application</ion-router-link>
      </ion-row>
    </ion-grid>
  </ion-content>
  <!-- PAGE CONTENT ENDS -->


</ion-content>
<!-- PAGE FOOTER STARTS -->
<ion-footer class="ion-no-border" align="center">
  <ion-toolbar color="light">
    <ion-text>
      Government Portal<br>
      Ministry of Home Affairs
    </ion-text>
  </ion-toolbar>
</ion-footer>
<!-- PAGE FOOTER ENDS -->