<!-- PAGE HEADER STARTS -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <strong>GOVERNMENT PORTAL</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- PAGE HEADER ENDS -->
<ion-content [fullscreen]="true">

  <!-- PAGE CONTENT STARTS -->


  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE SEARCH AND LINKED CONTENT -->
  <!-- PAGE LINKS AND INFORMATION -->
  <ion-content>
    <ion-header>
      <ion-toolbar>
        <ion-title>Account</ion-title>
          <ion-button slot="end">Sign out<ion-icon name="log-out-outline"></ion-icon></ion-button>
      </ion-toolbar>
    </ion-header>
  </ion-content>

  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->


</ion-content>
<!-- PAGE FOOTER STARTS -->
<ion-footer class="ion-no-border" align="center">
  <ion-toolbar color="light">
    <ion-text>
      Government Portal<br>
      Ministry of Home Affairs
    </ion-text>
  </ion-toolbar>
</ion-footer>
<!-- PAGE FOOTER ENDS -->