<!-- 
  
  Contains frontend structure and design for Sign-in page
  Variables intialised here are related to the typescript page and used
  for functionality.

-->
<!-- PAGE HEADER STARTS -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <a href="home" color="light" style="color: white;text-decoration: none;">
        <strong>GOVERNMENT PORTAL</strong>
      </a>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- PAGE HEADER ENDS -->
<ion-content [fullscreen]="true">

  <!-- PAGE CONTENT STARTS -->


  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE SEARCH AND LINKED CONTENT -->
  <!-- PAGE LINKS AND INFORMATION -->
  <ion-content>
    <ion-list style="margin-left: 5%;">
      <h1 style="font-size: xx-large;"><strong>Sign in using Government Portal</strong></h1>
      <br>
      <h5>Goverment Portal email address</h5>
      <form class="form" [formGroup]="validations_form" (keydown.enter)="loginCitizen(validations_form.value)" (ngSubmit)="loginCitizen(validations_form.value)">
        <ion-item>
          <ion-input required="true" type="email" placeholder="INSERT YOUR REGISTERED EMAIL" formControlName="email"
            type="email" required style="text-transform: uppercase;"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_form.email">
            <div class="error-message"
              *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
        </div>
        <h5>Password</h5>
        <ion-item>
          <ion-input required="true" inputmode="text" type="password" clear-on-edit=true
            placeholder="INSERT YOUR PORTAL PASSWORD" formControlName="password" type="password" required></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of validation_form.password">
            <div class="error-message"
              *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
              {{ validation.message }}
            </div>
          </ng-container>
          <br>
          <ion-button type="submit" color="signin" [disabled]="!validations_form.valid">Sign in<ion-icon
              name="log-in-outline"></ion-icon>
          </ion-button>
        </div>
        <br>
        <label style="color: darkgray;" class="error-message">{{errorMessage}}</label>
      </form>
      <br>
      <a href="create-account" class="underline">Register sign in information</a>
    </ion-list>
    <br>
    <ion-grid style="margin-left: 5%;">
      <h2 style="font-size: x-large;"><strong>Problems signing in</strong></h2>
      <ion-row>
        <a (click)="forgotPassword()" class="underline">I have forgotten my password</a>
      </ion-row>
      <ion-row>
        <a class="underline" (click)="forgotID()">I have forgotten my user ID</a>
      </ion-row>
      <ion-row>
        <a class="underline" (click)="forgotCredentials()">I have forgotten my Government Portal user ID and password
        </a>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->


</ion-content>
<!-- PAGE FOOTER STARTS -->
<ion-footer class="ion-no-border" align="center">
  <ion-toolbar color="light">
    <ion-text>
      Government Portal<br>
      Ministry of Home Affairs
    </ion-text>
  </ion-toolbar>
</ion-footer>
<!-- PAGE FOOTER ENDS -->