<ion-content>
  <ion-tabs >
    <ion-tab-bar slot="top" color="primary">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>ප්රධාන පිටුව</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Back()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-label>ආපසු</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Forward()">
        <ion-icon name="arrow-forward"></ion-icon>
        <ion-label>ඉදිරියට</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Refresh()">
        <ion-icon name="refresh"></ion-icon>
        <ion-label>නැවුම් කරන්න</ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="Logout()">
        <ion-icon name="log-out"></ion-icon>
        <ion-label>පිටවීම</ion-label>
      </ion-tab-button>
      <span id="minutes">0m</span> : <span id="seconds">0s</span>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>