<!-- 
  
  Contains frontend structure and design for Registration page
  Variables intialised here are related to the typescript page and used
  for functionality.

-->
<!-- PAGE HEADER STARTS -->

<ion-content [fullscreen]="true">
  <!-- #3082c9 Royal Blue | #c92d39 Government Red -->
  <div style="background-color:#3082c9;color: white;">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>
          <a href="home" color="light" style="color: white;text-decoration: none;">
            <strong>GOVERNMENT PORTAL</strong>
          </a>
        </ion-title>
        <ion-button class="log-in" slot="icon-only" slot="end" href="sign-in" color="signin">
          <ion-icon name="log-in"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <!-- PAGE HEADER ENDS -->

    <!-- PAGE CONTENT STARTS -->

    <!-- PAGE SEARCH AND LINKED CONTENT -->
    <h1 style="margin-left: 2%;"><strong>WELCOME TO GOVERNMENT PORTAL</strong></h1>
    <h5 style="margin-left: 2%;">All government services at one place.</h5>
    <ion-searchbar color="light" style="width: 40%;" animated="true" [(ngModel)]="searchQuery" (click)="click_in()"
      (clickOutside)="onClickedOutside($event)" (ionInput)="search($event)" placeholder="Search..."></ion-searchbar>
    <ion-list *ngIf="pagesList" style="position: absolute;z-index:1000;width: 40%;">
      <ion-item *ngFor="let algoliaResult of algoliaResults | slice:0:3;; let i = index">
        <a href={{algoliaResult.url}} class="underline-search">{{ algoliaResult.name }}
        </a>
      </ion-item>
    </ion-list>
  </div>
  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE LINKS AND INFORMATION -->
  <div style="margin: 2%;">
    <h1>Registrations</h1>
    <h3>Legal Background of the Department for Registrations of Persons</h3>
    <p>Department for Registration of Persons is established to implement the provisions of the Registration of Persons
      Act No 32 of 1968. This Act is in operation from April 5, 1991. Legal background of the Department for
      Registration of Persons is provided through the following Regulations, Orders and Announcements.
    </p>
    <h4>Acts</h4>
    <ul>
      <li>Registration of Persons Act No 32 of 1968</li>
      <li>Registration of Persons Amendment Act No 28 of 1971</li>
      <li>Registration of Persons Amendment Act No 37 f 1971</li>
      <li>Registration of Persons Amendment Act No 11 of 1981</li>
      <li>Registration of Persons Amendment Act No 8 of 2016</li>
    </ul>
    <h4>Authorities, duties and functions of the Department for Registration of Persons</h4>
    <ol>
      <li>Registration of specified persons living in Sri Lanka</li>
      <li>Issuing of identity cards to such registered persons</li>
      <li>Performance of duties and functions related to above two subjects</li>
    </ol>
    <a href="sign-in" class="underline">
      Apply for your NIC through Government Portal
    </a>
  </div>

  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->

  <!-- PAGE FOOTER STARTS -->
  <ion-footer class="ion-no-border" align="center">
    <ion-toolbar color="light">
      <ion-text>
        Government Portal<br>
        Ministry of Home Affairs
      </ion-text>
    </ion-toolbar>
  </ion-footer>
  <!-- PAGE FOOTER ENDS -->
</ion-content>