<!-- 
  
  Contains frontend structure and design for Housing page
  Variables intialised here are related to the typescript page and used
  for functionality.

-->
<!-- PAGE HEADER STARTS -->

<ion-content [fullscreen]="true">
  <!-- #3082c9 Royal Blue | #c92d39 Government Red -->
  <div style="background-color:#3082c9;color: white;">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>
          <ion-router-link href="home" color="light">
            <strong>GOVERNMENT PORTAL</strong>
          </ion-router-link>
        </ion-title>
        <ion-button class="log-in" slot="icon-only" slot="end" href="sign-in" color="signin">
          <ion-icon name="log-in"></ion-icon>
        </ion-button>
      </ion-toolbar>
    </ion-header>
    <!-- PAGE HEADER ENDS -->

    <!-- PAGE CONTENT STARTS -->

    <!-- PAGE SEARCH AND LINKED CONTENT -->
    <h1 style="margin-left: 2%;"><strong>WELCOME TO GOVERNMENT PORTAL</strong></h1>
    <h5 style="margin-left: 2%;">All government services at one place.</h5>
    <ion-searchbar color="light" style="width: 40%;" animated="true" [(ngModel)]="searchQuery" (click)="click_in()"
      (clickOutside)="onClickedOutside($event)" (ionInput)="search($event)" placeholder="Search..."></ion-searchbar>
    <ion-list *ngIf="pagesList" style="position: absolute;z-index:1000;width: 40%;">
      <ion-item *ngFor="let algoliaResult of algoliaResults | slice:0:3;; let i = index">
        <ion-router-link href={{algoliaResult.url}} class="underline-search">{{ algoliaResult.name }}
        </ion-router-link>
      </ion-item>
    </ion-list>
  </div>
  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE LINKS AND INFORMATION -->
  <div style="margin: 2%;">
    <ion-content>
      <h1>Housing</h1>
    </ion-content>
    <h3>Background of The Ministry of Rural Housing and Construction & Building Materials Sri Lanka</h3>
    <p>Ministry plays a vital role in development activities in housing field such as introducing regular housing
      schemes for the housing requirement of the rural people, implementing housing financial programmes, guiding rural
      community on technical methods of housing construction which bring eco-friendly and cost effective benefits and
      introducing a national housing policy and in parallel to this, it becomes involved in matters that directly
      influences the construction field and building material field just as formulating a national policy on
      construction and building material industry, giving directions and guidelines to the construction industry,
      regulating the activities of construction industry and arranging rules and regulations for the standardization.
    </p>
    <h4>Functions</h4>
    <ul>
     <strong>Housing Sector</strong>
      <li>Implementation of housing schemes and housing financial programes to meet the housing needs of the people including low income earners and special community groups.</li>
      <li>Guidance for rural people about technical methods of housing construction which bring cost effective benefits eco friendly</li>
      <li>Compilation, follow up and assessment of policies,programmes and projects applicable to the housing field.</li>
      <strong>Construction Sector</strong>
      <li>Compilation , follow up and assessment of policies,programmes and projects applicable to the housing field.</li>
      <li> Provision of consultancy and regulatory service for the construction industry and operation of heavy construction equipment and training on maintenance</li>
      <li>Regulation,registration, regularization and standardization of the activities of the construction industry consistent with relevant rules and regulations and standards.</li>
      <strong>Engineering Sector</strong>
      <li>Supply of mechanical engineering services for government institutions</li>
      <li>Assign standards and norms for government quarters and other buildings</li>
    </ul>
    <h4>Vision</h4>
    <p>“Development of sustainable settlements and a reawakening of the construction industry”
    </p>
    <h4>Mission</h4>
    <p>"Creating well planned, environment friendly and qualitative construction industry by equipping Sri Lankan
      entrepreneurs, professionals and the labour force with skills and resources and establishing settlements with
      basic facilities through people’s participation, contributing to economic development through the socioeconomic
      and cultural empowerment of low income earners."</p>
    <ion-router-link href="page-under-construction" class="underline">
      Apply for your housing and property services through Government Portal
    </ion-router-link>
  </div>
  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->

  <!-- PAGE FOOTER STARTS -->
  <ion-footer class="ion-no-border" align="center">
    <ion-toolbar color="light">
      <ion-text>
        Government Portal<br>
        Ministry of Home Affairs
      </ion-text>
    </ion-toolbar>
  </ion-footer>
  <!-- PAGE FOOTER ENDS -->
</ion-content>