<!-- 
  
  Contains frontend structure and design for construction or maintainance page

-->
<!-- PAGE HEADER STARTS -->
<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      <strong>GOVERNMENT PORTAL</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- PAGE HEADER ENDS -->
  <ion-content  [fullscreen]="true" style="text-align: center;">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button  defaultHref="home" text="Back"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-text color="medium">
      <h1>Page Under Construction</h1>
    </ion-text>
    <ion-img src="assets/animations/page-under-construction.gif" style="height: 70%;"></ion-img>
  </ion-content>
