<!-- PAGE HEADER STARTS -->

<ion-content [fullscreen]="true">
  <!-- #3082c9 Royal Blue | #c92d39 Government Red -->
  <div style="background-color:#3082c9;color: white;">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>
          <ion-router-link href="home" color="light">
            <strong>GOVERNMENT PORTAL</strong>
          </ion-router-link>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- PAGE HEADER ENDS -->

    <!-- PAGE CONTENT STARTS -->

    <!-- PAGE SEARCH AND LINKED CONTENT -->
    <h1 style="margin-left: 2%;"><strong>WELCOME TO GOVERNMENT PORTAL</strong></h1>
    <h5 style="margin-left: 2%;">All government services at one place.</h5>
    <ion-searchbar style="width: 40%;" animated="true" [(ngModel)]="searchQuery" (click)="click_in()"
      (clickOutside)="onClickedOutside($event)" (ionInput)="search($event)" placeholder="Search..."></ion-searchbar>
    <ion-list *ngIf="pagesList" style="position: absolute;z-index:1000;width: 40%;">
      <ion-item *ngFor="let algoliaResult of algoliaResults | slice:0:3;; let i = index">
        <ion-router-link href={{algoliaResult.url}} class="underline-search">{{ algoliaResult.name }}
        </ion-router-link>
      </ion-item>
    </ion-list>
  </div>
  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE LINKS AND INFORMATION -->
  <div style="margin: 2%;">
    <ion-content>
      <h1>Healthcare</h1>
    </ion-content>
    <h3>Background of The Ministry of Rural Housing and Construction & Building Materials Sri Lanka</h3>
    <p>Ministry plays a vital role in development activities in housing field such as introducing regular housing
      schemes for the housing requirement of the rural people, implementing housing financial programmes, guiding rural
      community on technical methods of housing construction which bring eco-friendly and cost effective benefits and
      introducing a national housing policy and in parallel to this, it becomes involved in matters that directly
      influences the construction field and building material field just as formulating a national policy on
      construction and building material industry, giving directions and guidelines to the construction industry,
      regulating the activities of construction industry and arranging rules and regulations for the standardization.
    </p>
    <h4>Objectives</h4>
    <ul>
      <li>To provide technical advice in policy formulation, planning and programming on promotion of health through
        Advocacy, Behavior Change Communication, Social Marketing and Community Mobilization.</li>
      <li>To support various health programmes conducted by the Department of health services and other health related
        sectors through advocacy, behavior change communication and social mobilization for health actions.</li>
      <li>To promote, support and undertake planning, implementing, monitoring and evaluation of health promotion
        programmes in different settings.</li>
      <li>To promote health care consciousness among the masses through mass media.</li>
      <li>To assist and develop IEC / BCC materials required for health promotion and behavior change communication</li>
      <li>To develop the capacities of manpower, both within and outside the department of health services in order to
        act as health promoters and change agents through advocacy, behavior change communication and social
        mobilization.</li>
      <li>To educate and empower the public on health issues, to enable them to increase control over and promote
        individual and community health.</li>
      <li>To coordinate with health related governmental, non governmental and international agencies and organization
        in promoting health of people.</li>
      <li>To develop managerial capacities of health and health related sectors to manage health promotive programmes
      </li>
      <li>To monitor and evaluate health promotive programmes and facilitate monitoring and evaluation of them at
        different levels.</li>
      <li>To support and undertake research related to Behavior change of the community and social mobilization.</li>
    </ul>
    <h4>Vision</h4>
    <p>“A healthier nation that contributes to its economic, social, mental and spiritual development.”
    </p>
    <h4>Mission</h4>
    <p>To contribute to social and economic development of Sri Lanka by achieving the highest attainable health status
      through promotive, preventive, curative and rehabilitative services of high quality made available and accessible
      to people of Sri Lanka. Objectives are;

      To empower community for maintaining, promoting their health
      To improve comprehensive health services delivery actions
      To strengthen stewardship management functions
      To improve the management of human resources</p>
    <ion-router-link href="page-under-construction" class="underline">
      Apply for your healthcare services through Government Portal
    </ion-router-link>
  </div>
  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->

  <!-- PAGE FOOTER STARTS -->
  <ion-footer class="ion-no-border" align="center">
    <ion-toolbar color="light">
      <ion-text>
        Government Portal<br>
        Ministry of Home Affairs
      </ion-text>
    </ion-toolbar>
  </ion-footer>
  <!-- PAGE FOOTER ENDS -->
</ion-content>