<ion-content>
  <zxing-scanner (scanSuccess)="onCodeResult($event)" class="scanner" *ngIf="portalScanner"></zxing-scanner>
  <ion-grid class="ion-text-center" style="width:100%;height: 100%;" align="middle" class="home">
    <ion-row>
      <div class="scanner-progress" *ngIf="scanner_en">
        <h2>Place your Government Portal ID</h2>
        <h5>Scanning in progress</h5>
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div class="scanner-progress" *ngIf="scanner_si">
        <h2>ඔබේ රජයේ දොරටුව හැඳුනුම්පත තබන්න</h2>
        <h5>පරිලෝකනය සිදු වෙමින් පවතී</h5>
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <div class="scanner-progress" *ngIf="scanner_ta">
        <h2>உங்கள் அரசாங்க நுழைவாயிலை வைக்கவும் வைக்கவும்</h2>
        <h5>ஸ்கேன் செயலில் உள்ளது</h5>
        <ion-spinner name="dots"></ion-spinner>
      </div>
      <ion-col style="padding-top: 50vh;">
        <ion-button size="large" color="kiosk" expand="block" shape="round" (click)="Sinhala()">සිංහල</ion-button>
      </ion-col>
      <ion-col style="padding-top: 50vh;">
        <ion-button size="large" color="kiosk" expand="block" shape="round" (click)="English()">English</ion-button>
      <ion-img src="assets/icons/png/Logo.png" class="logo"></ion-img>

      </ion-col>
      <ion-col style="padding-top: 50vh;">
        <ion-button size="large" color="kiosk" expand="block" shape="round" (click)="Tamil()">தமிழ்</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>