<!-- PAGE SPLASH SCREEN STARTS -->
<div name="loading" *ngIf="loading" style="height: 100%;" style="background-color:#c92d39;">
  <ion-img src="assets/splash/splash.png" style="height: 15%;"></ion-img>
  <ion-img src="assets/splash/animation.gif" style="height:500px;"></ion-img>
</div>
<!-- PAGE SPLASH SCREEN ENDS -->
<!-- WELCOME MODAL STARTS -->
<!-- https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage -->
<div name="Welcome" *ngIf="Welcome" style="margin: 5px;height: 100%;background-color: #C92D39;">
  <ion-slides pager="false" [options]="slideOpts" style="height: 90%;">
    <ion-slide>
      <img src="assets/splash/Page-1.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/splash/Page-2.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/splash/Page-3.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/splash/Page-4.png" />
    </ion-slide>
    <ion-slide (click)="goHome()" >
      <img src="assets/splash/Page-5.png" />
    </ion-slide>
  </ion-slides>
  <!-- <ion-button style="height: 10%;" (click)="goHome()" expand="block" size="large" color="danger">Start Now</ion-button> -->
</div>
<!-- WELCOME MODAL ENDS -->
<!-- PAGE HEADER STARTS -->
<ion-content [fullscreen]="true" [hidden]="!home">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>
        <strong>GOVERNMENT PORTAL</strong>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <!-- PAGE HEADER ENDS -->

  <!-- PAGE CONTENT STARTS -->


  <!-- PAGE SEARCH AND LINKED CONTENT -->
    <ion-searchbar animated="true" [(ngModel)]="searchQuery" (click)="click_in()"
      (clickOutside)="onClickedOutside($event)" (ionCancel)="onCancel($event)" (ngModelChange)="change_query($event)"
      showCancelButton="focus" placeholder="Search..."></ion-searchbar>
    <ion-list *ngIf="show_list" style="position: absolute;z-index:1000;width: 100%;">
      <ion-item *ngFor="let item of list_to_show| slice:0:3;; let i = index">
        <ion-label (click)="click_item(i)">{{ item }}</ion-label>
      </ion-item>
    </ion-list>
  <!-- PAGE SEARCH AND LINKED CONTENT -->
  <!-- PAGE LINKS AND INFORMATION -->
  <ion-content>
    <h1>One portal for all goverment services</h1>
    Links to pages would be added...
    
  </ion-content>

  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->

  <!-- PAGE FOOTER STARTS -->
</ion-content>
<ion-footer class="ion-no-border" align="center">
  <ion-toolbar color="light">
    <ion-text>
      Government Portal<br>
      Ministry of Home Affairs
    </ion-text>
  </ion-toolbar>
</ion-footer>
<!-- PAGE FOOTER ENDS -->