<!-- PAGE SPLASH SCREEN STARTS -->
<div name="loading" *ngIf="loading" style="height: 100%;" style="background-color:#c92d39;">
  <ion-img src="assets/splash/splash.png" style="height: 15%;"></ion-img>
  <ion-img src="assets/splash/animation.gif" style="height:500px;"></ion-img>
</div>
<!-- PAGE SPLASH SCREEN ENDS -->
<!-- WELCOME MODAL STARTS -->
<!-- https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage -->
<div name="Welcome" *ngIf="Welcome" style="margin: 5px;height: 100%;background-color: #C92D39;">
  <ion-slides pager="false" [options]="slideOpts" style="height: 90%;">
    <ion-slide>
      <img src="assets/splash/Page-1.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/splash/Page-2.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/splash/Page-3.png" />
    </ion-slide>
    <ion-slide>
      <img src="assets/splash/Page-4.png" />
    </ion-slide>
    <ion-slide (click)="goHome()">
      <img src="assets/splash/Page-5.png" />
    </ion-slide>
  </ion-slides>
  <ion-button style="height: 10%;" (click)="goHome()" expand="block" size="large" color="danger">Start Now</ion-button>
</div>
<!-- WELCOME MODAL ENDS -->
<!-- PAGE HEADER STARTS -->

<ion-content [fullscreen]="true" [hidden]="!home">
  <!-- #3082c9 Royal Blue | #c92d39 Government Red -->
  <div style="background-color:#c92d39;color: white;">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>
          <strong>GOVERNMENT PORTAL </strong>
        </ion-title>
      </ion-toolbar>
    </ion-header>
    <!-- PAGE HEADER ENDS -->

    <!-- PAGE CONTENT STARTS -->

    <!-- PAGE SEARCH AND LINKED CONTENT -->
    <h1 style="margin-left: 2%;"><strong>WELCOME TO GOVERNMENT PORTAL</strong></h1>
    <h5 style="margin-left: 2%;">One portal for all government service at one place.</h5>
    <ion-searchbar style="width: 40%;" animated="true" [(ngModel)]="searchQuery" (click)="click_in()"
      (clickOutside)="onClickedOutside($event)" (ionInput)="search($event)" placeholder="Search..."></ion-searchbar>
    <ion-list *ngIf="pagesList" style="position: absolute;z-index:1000;width: 40%;">
      <ion-item *ngFor="let algoliaResult of algoliaResults | slice:0:3;; let i = index">
        <ion-router-link href={{algoliaResult.url}} class="underline-search">{{ algoliaResult.name }}
        </ion-router-link>
      </ion-item>
    </ion-list>
  </div>
  <!-- PAGE SEARCH AND LINKED CONTENT -->

  <!-- PAGE LINKS AND INFORMATION -->
  <ion-content>
    <ion-grid style="margin-top: 2%;">
      <ion-row>
        <ion-col class="start">
          <ion-router-link href="registrations" class="underline">Registration of Persons
          </ion-router-link>
          <p>Includes applications for Identity cards, renewals and lost</p>
        </ion-col>
        <ion-col class="center">
          <ion-router-link href="agriculture" class="underline">Agriculture, Livestock and Fisheries
          </ion-router-link>
          <p>Includes importing natural resources, pesticides and certifications</p>
        </ion-col>
        <ion-col class="end">
          <ion-router-link href="media" class="underline">Communication and Media
          </ion-router-link>
          <p>Includes news casting, media loans and broadcasting</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="start">
          <ion-router-link href="banking" class="underline">Banking, Tax and Insurance
          </ion-router-link>
          <p>Includes employee funds, registrations, exchange and management</p>
        </ion-col>
        <ion-col class="center">
          <ion-router-link href="education" class="underline">Education and Training
          </ion-router-link>
          <p>Includes higher education, examinations and vocational training</p>
        </ion-col>
        <ion-col class="end">
          <ion-router-link href="healthcare" class="underline">Healthcare, Wellbeing and Social Service
          </ion-router-link>
          <p>Includes Hospital care, public services and Indigenous medicine</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="start">
          <ion-router-link href="employeement" class="underline">Employment Information
          </ion-router-link>
          <p>Includes public employement, job designing, labour and career guidance</p>
        </ion-col>
        <ion-col class="center">
          <ion-router-link href="housing" class="underline">Housing, Property and Utilities
          </ion-router-link>
          <p>Includes constructions, hoousing, machinery and materials</p>
        </ion-col>
        <ion-col class="end">
          <ion-router-link href="environment" class="underline">Environment
          </ion-router-link>
          <p>Includes industrial licensing, pollution control and inspection reports</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="start">
          <ion-router-link href="justice" class="underline">Justice, Law and Rights
          </ion-router-link>
          <p>Includes oaths, death inquiries, peace and foreign summons</p>
        </ion-col>
        <ion-col class="center">
          <ion-router-link href="travel" class="underline">Travel, Tourism and Leisure
          </ion-router-link>
          <p>Includes applications for certifications, guidance and operations</p>
        </ion-col>
        <ion-col class="end">
          <ion-router-link href="trading" class="underline">Trade, Business and Industry
          </ion-router-link>
          <p>Includes foreign trade, marketing and guidance for import and exports</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>

  <!-- PAGE LINKS AND INFORMATION -->

  <!-- PAGE CONTENT ENDS -->

  <!-- PAGE FOOTER STARTS -->
  <ion-footer class="ion-no-border" align="center">
    <ion-toolbar color="light">
      <ion-text>
        Government Portal<br>
        Ministry of Home Affairs
      </ion-text>
    </ion-toolbar>
  </ion-footer>
  <!-- PAGE FOOTER ENDS -->
</ion-content>