<!-- 
  
  Contains frontend structure and design for Office page for Home Affair Ministry
  Variables intialised here are related to the typescript page and used
  for functionality.

-->
<!-- PAGE HEADER STARTS -->
<ion-header>
  <ion-title style="background-color: #222428;color: whitesmoke;">
    <strong>GOVERNMENT PORTAL</strong>
  </ion-title>
  <ion-toolbar>
    <ion-button class="log-out" slot="icon-only" slot="end" color="signin" (click)="logoutAdmin()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
    <ion-tabs style="border-bottom-left-radius: 25px;border-bottom-right-radius: 25px;">
      <ion-tab-bar slot="top" color="dark">
        <ion-tab-button (click)=openAccounts() name="Accounts">
          <ion-icon name="people"></ion-icon>
          <ion-label>Accounts</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)=openStatistics() name="Statistics">
          <ion-icon name="stats-chart-outline"></ion-icon>
          <ion-label>Statistics</ion-label>
        </ion-tab-button>
        <ion-tab-button (click)=openSettings() name="Settings">
          <ion-icon name="settings"></ion-icon>
          <ion-label>Settings</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-header>

<!-- PAGE HEADER ENDS -->

<ion-content [fullscreen]="true" style="background: var(--ion-color-medium)">
  <!-- PAGE CONTENT STARTS -->

  <!-- PAGE LINKS AND INFORMATION -->
  <div *ngIf="accountPanel" style="width: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col class="start" style="padding-left: 5%;">
          <h2 style="font-size: x-large;"><strong>Account Services</strong></h2>
          <ion-row class="underline">
            <ion-router-link (click)=manageAccount() class="underline">
              Manage Accounts
            </ion-router-link>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-col *ngIf="accountManage" class="end">
            <div style="position: relative;
            float: right;color: darkgray;font-weight: bold;cursor:pointer;" (click)=exitECitizenManager()>Close Account Services
            </div>
            <ion-row>
              <ion-searchbar placeholder="Find System Users" [(ngModel)]="filterTerm" animated="true" autocomplete="true"
                (search)="findUser($event.target.value)">
              </ion-searchbar>
              <i style="font-size: xx-small;">If the required user is not available search using email, make sure to enter the complete email address</i>
              <ion-list style="width: 100%;">
                <ion-item *ngFor="let user of userRecords | filter:filterTerm" style="font-size:xx-small;">
                  <ion-img src="{{user.photoURL}}" style="height: 70px;width: 50px;"></ion-img>
                  <ion-label>{{user.displayName}}</ion-label>
                  <ion-label>{{user.email}}</ion-label>
                  <ion-button *ngIf="user.disabled" color="success" (click)="activateAccount(user.uid)">Activate</ion-button>
                  <ion-button *ngIf="!user.disabled" color="medium" (click)="disableAccount(user.uid)">Disable</ion-button>
                  <ion-button color="danger" (click)="deleteAccount(user.uid)">Delete</ion-button>
                </ion-item>
              </ion-list>
            </ion-row>
          </ion-col>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="settingsPanel" style="width: 100%;">
    <ion-grid>
      <ion-row>
        <ion-col class="start" style="padding-left: 5%;">
          <h2 style="font-size: x-large;"><strong>Settings</strong></h2>
          <ion-row class="underline">
            <ion-router-link (click)=getWorkLogs() class="underline">
              Activity History
            </ion-router-link>
          </ion-row>
        </ion-col>
        <ion-col *ngIf="activityLog">
          <ion-list *ngFor="let log of EWorkLogs | slice:0:15;; let i = index">
            <ion-item>
              <ion-grid>
                <ion-row style="font-weight: bolder;">
                  <ion-col>SignIn Time</ion-col>
                  <ion-col>SignOut Time</ion-col>
                  <ion-col>Documents Handled</ion-col>
                  <ion-col>Supported Provided</ion-col>
                  <ion-col>Date</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item>
              <ion-grid>
                <ion-row style="font-size: small;">
                  <ion-col>{{log.signIn}}</ion-col>
                  <ion-col>{{log.signOut}}</ion-col>
                  <ion-col>{{log.documentsHandled}}</ion-col>
                  <ion-col>{{log.messagesHandled}}</ion-col>
                  <ion-col>{{log.date}}</ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- PAGE CONTENT ENDS -->
  <!-- PAGE LINKS AND INFORMATION -->
</ion-content>

<!-- PAGE FOOTER STARTS -->
<ion-footer class="ion-border" align="center" style="opacity: 0.97;">
  <ion-toolbar color="dark">
    <ion-text>
      Government Portal<br>
      Ministry of Home Affairs
    </ion-text>
  </ion-toolbar>
</ion-footer>
<!-- PAGE FOOTER ENDS -->